@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#__next {
  height: 100%;
}

canvas {
  height: 100% !important;
}

@keyframes shimmer {
  0% { background-position: 200% 50%; }
  100% { background-position: -200% 50%; }
}

.animate-shimmer {
  background-size: 400% auto;
  animation: shimmer 4s ease-in-out infinite;
}

@keyframes subtle-shimmer {
  0% { background-position: 100% 50%; }
  50% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-subtle-shimmer {
  background-size: 200% auto;
  animation: subtle-shimmer 8s ease-in-out infinite;
}